<div class="row border border-success rounded p-3 mb-2">
  <div class="col-7">
    <p>
      Meal: <strong>{{ meal.time }}</strong> Time: <i>{{ meal.dateMeal }}</i>
    </p>
    <p>
      Meal info: {{ meal.description }}
    </p>
  </div>
  <div class="col-5 align-self-center text-center">
    <p>Calories: <strong> {{ meal.calories }} kcal</strong></p>
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
      <a class="btn btn-warning" [routerLink]="[meal.id,'edit']">Edit</a>
      <button type="button" class="btn btn-danger" (click)="onRemove(meal.id)">
          <span *ngIf="!loading">
          Delete
        </span>
        <span *ngIf="loading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span></button>
    </div>
  </div>
</div>
