<div class="container">
  <form class="border border-info p-3" #f="ngForm" (ngSubmit)="addMeal()">
    <h4>{{ isEdit ? 'Edit meal' : 'Create new meal' }}</h4>
    <div class="form-group">
      <label for="mealSelect">Meal select</label>
      <select class="form-control" id="mealSelect" name="mealSelect" required ngModel>
        <option value="" disabled="disabled">Choose time</option>
        <option>Breakfast</option>
        <option>Snack</option>
        <option>Lunch</option>
        <option>Dinner</option>
      </select>
    </div>
    <div class="form-group">
      <label for="mealSelect">Meal date</label>
      <input class="form-control" type="date" value="{{ date }}" name="dateMeal" required ngModel>
    </div>
    <div class="form-group">
      <label for="mealDescription">Meal description</label>
      <textarea class="form-control" id="mealDescription" rows="3" name="mealDescription" required ngModel></textarea>
    </div>
    <div class="form-group">
      <label for="calories">Meal calories:</label>
      <input type="number" class="form-control" id="calories" name="calories" required ngModel>
    </div>
    <button type="submit" class="btn btn-outline-success" [disabled]="loading || !f.valid">
      <span *ngIf="!loading">
          {{isEdit ? 'Save' : 'Create'}}
        </span>
      <span *ngIf="loading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
    </button>
  </form>
</div>
