<div class="container">
  <h2>Calorie tracker</h2>
  <hr/>
  <div class="row">
    <div class="col-10 mr-auto ml-auto">
      <div>
        <p>
          Total calories: <strong>{{ getCalories() }} kcal</strong>
        </p>
        <p>
          <a class="btn btn-primary" [routerLink]="['home/new']">Add</a>
        </p>
      </div>
      <div *ngIf="!loadingMeals; else loading">
        <app-meals *ngFor="let meal of meals"
                   [meal]="meal"></app-meals>
      </div>
      <ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
      </ng-template>
    </div>
  </div>
</div>
